{% include 'partials/header.html' %}

{% include 'partials/main_menu_button.html' %}

<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container w-50 border border-3 border-secondary rounded-4 px-5">
        <h1 class="text-center my-5">Критерії, які враховують кількість робіт, що запізнюються
            <br>(не запізнюються)</h1>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('delayed_tasks.min_delayed_page') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 |
                    d<sub>j</sub>=d |
                    <span>&Sigma;</span>U<sub>j</sub>
                    → min </a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('delayed_tasks.max_delayed_page') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 |
                    d<sub>j</sub>=d |
                    <span>&Sigma;</span>U<sub>j</sub>
                    → max </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('delayed_tasks.min_non_delayed_page') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 |
                    d<sub>j</sub>=d |
                    <span>&Sigma;</span>U̅<sub>j</sub>
                    → min </a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('delayed_tasks.max_non_delayed_page') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 |
                    d<sub>j</sub>=d |
                    <span>&Sigma;</span>U̅<sub>j</sub>
                    → max </a>
            </div>
        </div>
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-10 mb-3 text-center">#}
{#                <a href="{{ url_for('delayed_tasks.complicated_task') }}"#}
{#                   class="btn btn-primary btn-block btn-lg w-100">1 |#}
{#                    d<sub>j</sub>=d |#}
{#                    <span>&Sigma;</span>U<sub>j</sub>#}
{#                    → max (ускладнена задача)</a>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>

{% include 'partials/footer.html' %}
