{% include 'partials/header.html' %}

{% include 'partials/main_menu_button.html' %}

<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container w-50 border border-3 border-secondary rounded-4 px-5">
        <h1 class="text-center my-5">Критерії, які оптимізуються LPT упорядкуванням</h1>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('spt_lpt_tasks.order_task_page', rule='LPT', task='F') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 ||
                    <span>&Sigma;</span>F<sub>j</sub> →
                    max</a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('spt_lpt_tasks.order_task_page', rule='LPT', task='L') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 ||
                    <span>&Sigma;</span>L<sub>j</sub> →
                    max</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('spt_lpt_tasks.order_task_page', rule='LPT', task='T') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 ||
                    <span>&Sigma;</span>T<sub>j</sub> →
                    max</a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('spt_lpt_tasks.order_task_page', rule='LPT', task='W') }}"
                   class="btn btn-primary btn-block btn-lg w-100">1 ||
                    <span>&Sigma;</span>W<sub>j</sub> →
                    max</a>
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}
