{% include 'header.html' %}

<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container w-50 border border-3 border-secondary rounded-4 px-5">
        <h1 class="text-center my-5">Створювач тестових питань</h1>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('task1.min_delayed_page') }}" class="btn btn-primary btn-block btn-lg w-100">1 |
                    d<sub>j</sub>=d |
                    <span>&Sigma;</span>U<sub>j</sub>
                    → min </a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="{{ url_for('task1.max_delayed_page') }}" class="btn btn-primary btn-block btn-lg w-100">1 |
                    d<sub>j</sub>=d |
                    <span>&Sigma;</span>U<sub>j</sub>
                    → max </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="" class="btn btn-primary btn-block btn-lg w-100">Кнопка 3</a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="" class="btn btn-primary btn-block btn-lg w-100">Кнопка 4</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-3 text-center">
                <a href="" class="btn btn-primary btn-block btn-lg w-100">Кнопка 5</a>
            </div>
            <div class="col-md-5 mb-3 text-center">
                <a href="" class="btn btn-primary btn-block btn-lg w-100">Кнопка 6</a>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
