<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Головна сторінка</title>
  <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1 class="title">Інформаційна система з підтримки розробки тестів для Moodle</h1>
    <div class="grid-container">
      <a href="{{ url_for('task1.task1_page') }}" class="button">Генератор 1</a>
      <a href="#" class="button">Кнопка 2</a>
      <a href="#" class="button">Кнопка 3</a>
      <a href="#" class="button">Кнопка 4</a>
    </div>
  </div>
</body>
</html>
