{% include 'partials/header.html' %}

<div class="position-fixed" style="top: 25px; left: 25px;">
    <a href="{{ url_for('menu.spt_menu') }}" class="btn btn-primary"> <span aria-hidden="true">&larr;</span>
        Назад до меню</a>
</div>

<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container w-50 border border-3 border-secondary rounded-4 px-5">
        <h1 class="text-center">Категорія тестових питань</h1>
        <h2 class="text-center">1 || <span>&Sigma;</span>F<sub>j</sub> → min</h2>
        <div class="container border border-2 border-secondary rounded-2 my-4 py-2">
            <h5>Дано:</h5>
            <span>1 машина, n робіт.<br>
                t<sub>i</sub> - тривалості робіт.<br>
                Скласти розклад, з мінімальною сумарною тривалістю проходження.
            </span>
        </div>
        <form method="post" action="{{ url_for('spt_tasks.handle_post_request') }}">
            <div class="container border border-2 border-secondary rounded-2 my-4 py-2">
                <h5>Параметри робіт</h5>
                <div class="row mb-3">
                    <label for="amountFrom" class="col-sm-3 col-form-label">Кількість робіт:</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">Від</span>
                            <input type="number" min="4" max="10" class="form-control" name="jobs_amount_min"
                                   placeholder="Введіть кількість" required>
                            <span class="input-group-text">До</span>
                            <input type="number" min="4" max="10" class="form-control" name="jobs_amount_max"
                                   placeholder="Введіть кількість" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="amountFrom" class="col-sm-3 col-form-label">Тривалості робіт:</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">Від</span>
                            <input type="number" min="1" max="80" class="form-control" name="jobs_duration_min"
                                   placeholder="Введіть кількість" required>
                            <span class="input-group-text">До</span>
                            <input type="number" min="1" max="100" class="form-control" name="jobs_duration_max"
                                   placeholder="Введіть кількість" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border border-2 border-secondary rounded-2 my-4 py-2">
                <h5>Параметри категорії питань</h5>
                <div class="row mb-3">
                    <label for="amount" class="col-sm-4 col-form-label">Кількість тестових питань:</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="9999" class="form-control" name="tests_amount"
                               placeholder="Введіть кількість" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="amount" class="col-sm-4 col-form-label">Назва тестових питань:</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="test_name" placeholder="Введіть назву" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-3 mx-2">
                <button type="submit" class="btn btn-primary">Згенерувати тестові питання</button>
            </div>
        </form>
    </div>
</div>

{% include 'partials/footer.html' %}