<!DOCTYPE html>
<html>
<head>
    <title>Generate XML</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Generate XML File</h1>
        <form method="post" action="{{ url_for('task1.task1_page') }}">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" required><br>

            <label for="start_range">Start Range:</label>
            <input type="number" name="start_range" required><br>

            <label for="end_range">End Range:</label>
            <input type="number" name="end_range" required><br>

            <input type="submit" value="Generate XML">
        </form>
    </div>
</body>
</html>
