<!DOCTYPE html>
<html>
<head>
    <title>Generate XML</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Меню генерації XML файлу завдань</h1>
    <form method="post" action="{{ url_for('task1.task1_page') }}">
        <label for="amount">Кількість тестових питань:</label>
        <input type="number" name="amount" id="amount" min="1" required>

        <div class="range-container">
            <label>Діапазон значень тривалостей</label>
            <div class="input-field-container">
                <div class="input-field">
                    <label for="start_range">Початок:</label>
                    <input type="number" name="start_range" id="start_range" min="1" required>
                </div>
                <div class="input-field">
                    <label for="end_range">Кінець:</label>
                    <input type="number" name="end_range" id="end_range" min="6" required>
                </div>
            </div>
        </div>

        <input type="submit" value="Згенерувати XML файл">
    </form>
</div>
</body>
</html>
